apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: "jetstream-podmonitoring"
  namespace: ${namespace}
spec:
  endpoints:
  - port: ${metrics_scrape_port}
    interval: 1s
    path: /
  targetLabels:
    metadata: ['pod', 'container', 'node']
