addict==2.4.0
google-api-core==2.19.0
google-api-python-client==2.93.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-bigquery==3.11.3
google-cloud-core==2.3.3
google-cloud-secret-manager~=2.0
google-cloud-storage==2.10.0
google-cloud-tpu==1.10.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.56.2
grpcio-status==1.56.0
httplib2==0.22.0
more-executors==2.11.4
pyyaml==6.0
requests==2.32.0
