# Default values for iap_jupyter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

name: "gmp-frontend"
projectID: "gcp-project-id"
serviceAccount: "default"

image:
  repository: gke.gcr.io/prometheus-engine/frontend
  pullPolicy: IfNotPresent
  tag: "v0.5.0-gke.0"

replicaCount: 2

podMonitoring:
  - name: ray-monitoring
    selector:
        ray.io/is-ray-node: "yes"
    port: metrics
    interval: 30s
  - name: mistral-7b-instruct
    selector:
        app: mistral-7b-instruct
    port: metrics
    interval: 30s

