apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: jetstream-hpa
  namespace: ${namespace}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: maxengine-server
  minReplicas: ${hpa_min_replicas}
  maxReplicas: ${hpa_max_replicas}
  metrics:
  - type: Pods
    pods:
      metric:
        name: prometheus.googleapis.com|${hpa_type}|gauge
      target:
        type: AverageValue
        averageValue: 1
