torch==2.3.1
transformers==v4.42.3
accelerate==v0.31.0
peft==v0.11.1
trl==v0.9.4
# bitsandbytes for optim
bitsandbytes==0.43.1
datasets==2.19.2
einops==0.8.0
gcsfs==2024.3.1
##
mlflow==2.14.1
psutil==6.0.0
pynvml==11.5.0