---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ${pv_name}
  labels:
  %{~ for key, val in labels ~}
    ${key}: ${val}
  %{~ endfor ~}
spec:
  storageClassName: ""
  capacity:
    storage: ${capacity}
  accessModes:
  - ReadWriteMany
  mountOptions:
    - implicit-dirs
  csi:
    driver: gcsfuse.csi.storage.gke.io
    volumeHandle: ${bucket_name}
