apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ${name}
  labels:
  %{~ for key, val in labels ~}
    ${key}: ${val}
  %{~ endfor ~}
provisioner: parallelstore.csi.storage.gke.io
parameters:
volumeBindingMode: ${volume_binding_mode}
reclaimPolicy: ${reclaim_policy}
  %{~ if topology_zones != null ~}
allowedTopologies:
- matchLabelExpressions:
  - key: topology.gke.io/zone
    values:
    %{~ for z in topology_zones ~}
    - ${z}
    %{~ endfor ~}
  %{~ endif ~}
