name: Terraform CI
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Terraform-Lint-Check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.7"

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check -recursive

      - name: Terraform Init
        id: init
        run: |
          terraform -chdir=applications/rag init 
          terraform -chdir=applications/jupyter init 

      - name: Terraform Validate
        id: validate
        run: |
          terraform -chdir=applications/rag validate -no-color
          terraform -chdir=applications/jupyter validate -no-color

